:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: url('../../assets/images/login-back.jpg') no-repeat;
  background-size: cover;

  .signin-form {
    width: 100%;
    max-width: 420px;
    box-shadow: 0 1px 4px rgba(94, 89, 89, 0.16);
    border: 1px solid #ede7e7;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
  }
}
